<%- include('../partials/header') %>
<div class="container">
    <div class="black-box">
    <h2>Planner</h2>
    <h5>Login to save your herbs and remedies!</h5>
    <form action="/auth/google">
    <input type="submit" value="Login" class="waves-effect waves-light btn-small">
</form>
    </div>
</div>
</body>
</html>